<h1>edit item</h1>

<form action="/item/update" method="POST">
  <div>
    <label>category</label>
    <select name="category" class="form-control">
      <% categories.forEach(function(category) { %>
        <option value="<%= category._id %>" <%= category._id.equals(item.category) ? 'selected' : '' %>>
          <%= category.name %>
        </option>
      <% }) %>
    </select>
  </div>

  <div>
    <label>name</label>
    <input
      type="text"
      name="name"
      class="form-control"
      value="<%= item.name %>"
    />
  </div>

  <div>
    <label>price</label>
    <input
      type="text"
      name="Price"
      class="form-control"
      value="<%= item.Price %>"
    />
  </div>

  <div>
    <label>quantity</label>
    <input
      type="text"
      name="qty"
      class="form-control"
      value="<%= item.qty %>"
    />
  </div>

  <div>
    <label>images</label>
    <br>
    <% item.image.forEach((img,index) => { %>
      
      <img src="/itemImages/<%= img %>" alt="Item Image" style="width: 100px; height: auto;">

      <br>
      
      <form action="/item/deleteImage" method="POST" style="display:inline;">
        <input type="hidden" name="itemId" value="<%= item._id %>">
        <input type="hidden" name="index" value="<%= index %>">
        <button type="submit">Delete</button>
      </form>


    <% }) %>
  </div>

  <div>
    <label>Upload New Images</label>
    <input type="file" name="image" multiple>
  </div>

  <input type="hidden" name="id" value="<%= item._id %>" />

  <button type="submit" class="btn btn-outline-secondary">update items</button>
</form>