<h1>list items</h1>
<% items.forEach(function(item){ %>

<p>
  <a href="/item/details?id=<%= item._id %>"> <%= item.name %> </a>
</p>
<p><%= item.Price %></p>

<a href="/item/edit?id=<%= item._id %>">Edit</a>
<a href="/item/delete?id=<%= item._id %>">Delete</a>

<form action="/cart/addToCart" method="POST" style="display: inline">
  <input type="text" name="id" value="<%= item._id %>" />
  <button type="submit">Add to cart</button>
</form>
<% }) %>
