<h1>list items</h1>
<% items.forEach(function(item){ %>

<p>
  <a href="/item/details?id=<%= item._id %>"> <%= item.name %> </a>
</p>
<label for="">price</label>
<p><%= item.Price %></p>

<% item.image.forEach(function(img) { %>
<img
  src="/itemImages/<%= img %>"
  alt="<%= item.name %> image"
  style="width: 200px; height: auto"
/>
<% }) %>

<a href="/item/edit?id=<%= item._id %>">Edit</a>
<a href="/item/delete?id=<%= item._id %>">Delete</a>

<form action="/cart/addToCart" method="POST" style="display: inline">
  <input type="hidden" name="id" value="<%= item._id %>" />
  <button type="submit">Add to cart</button>
</form>
<% }) %>
