<h3 class="category-header">
  <a href="/category/index"> categories </a> > <%= category.name %>
</h3>

<div class="item-container">
  <% category.item.forEach(function(item){ %>

  <a href="/item/details?id=<%= item._id %>">
    <div class="item-card" style="margin-bottom: 20px">
      <img
        src="/itemImages/<%= item.image[0] %>"
        alt="<%= item.name %> image"
        style="
          width: 200px;
          height: 200px;
          object-fit: cover;
          object-position: bottom;
        "
      />

      <h3><%= item.name %></h3>

      <p><%= item.Price %>BD</p>
    </div>
  </a>

  <% }) %>
</div>
