<h3 class="category-header">Categories</h3>

<div class="category-container">
  <% categories.forEach(function(category){ %>

  <a href="/category/details?id=<%= category._id %>">
    <div class="category-card">
      <img
        src="/categoryImages/<%= category.image %>"
        alt="<%= category.name %> image"
        style="width: 200px; height: auto"
      />

      <h2 class="category-name"><%= category.name %></h2>

      <% if(user){ if(user.type === 'seller' || user.type === 'admin') { %>
      <a href="/category/edit?id=<%= category._id %>">Edit <i class="fa-solid fa-pen-to-square"></i></a>
      <a href="/category/delete?id=<%= category._id %>">Delete <i class="fa-solid fa-trash"></i></a>

      <% } } %>
    </div>
  </a>

  <% }) %>
</div>
