<div class="search-container">
  <form action="/user/list" method="GET">
    <input
      type="text"
      name="query"
      placeholder="Search for items..."
      class="form-control"
    />
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>

<div class="items-container">
  <table
    style="border: 1px solid black; border-collapse: collapse; font-size: 30px"
  >
    <% if (users.length > 0) { %> <% users.forEach((account )=>{%>
    <tr style="border: 1px solid black">
      <td style="border: 1px solid black"><%=account.firstName%></td>
      <td style="border: 1px solid black"><%=account.lastName%></td>
      <td style="border: 1px solid black"><%=account.type%></td>
      <td>
        <a href="useredit?id=<%=account._id%>">edit</a>
        <a href="index">back</a>
      </td>
    </tr>
    <%})%>
  </table>

  <% } else { %>
  <p><%= message %></p>
  <%} %>
</div>
