<h2>Users List</h2>
<table class="table table-striped" ">
  <tr>
    <th>first name</th>
    <th>last name</th>
    <th>email</th>
    <th>role</th>
    <th>edit</th>
  </tr>
  <% users.forEach((account )=>{%>
  <tr>
    <td><%=account.firstName%></td>
    <td><%=account.lastName%></td>
    <td><%=account.email%></td>
    <td><%=account.type%></td>
    <td>
      <a class="btn btn-secondary" href="useredit?id=<%=account._id%>">edit</a>
    </td>
  </tr>
  <%})%>
</table>
<a href="index" class="btn btn-primary">back</a>
