<a class="btn btn-primary" href="/order/index">Back</a>
<table class="table" style="font-size: 20px; width: 60vw">
  <tr>
    <td colspan="2">
      Purchased At: <%= dayjs(order.createdAt).utc(true).format('D MMM, YYYY')%>
    </td>
    <td colspan="2">Status: <%= order.orderStatus%></td>
  </tr>
  <% order.order.forEach((items)=>{%>
  <tr>
    <td><img src="/itemImages/<%= items.item.image[0]%>" alt="" /></td>
    <td><%= items.item.name%></td>
    <td>x<%= items.qty%></td>
    <td><%= items.item.Price%>$</td>
  </tr>
  <%})%>
  <tr>
    <td style="text-align: right" colspan="4">
      Total: <%= order.totalAmount%>$
    </td>
  </tr>
</table>
