<div class="search-container">
  <form action="/search/index" method="GET">
    <input
      type="text"
      name="query"
      placeholder="Search for items..."
      class="form-control"
    />
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>

<div class="items-container">
  <% if (items.length > 0) { %>
  <table class="table item-table">
    <% items.forEach(function(item) { %>
    <tr>
      <td>
        <a href="/item/details?id=<%= item._id %>">
          <img
            src="/itemImages/<%= item.image[0] %>"
            alt="<%= item.name %> image"
            style="width: 200px; height: auto"
          />
        </a>
      </td>
      <td><%= item.name %></td>
      <td><%= item.Price %></td>
    </tr>
    <% }); %>
  </table>
  <% } else { %>
  <p><%= message %></p>
  <%} %>
</div>
