<h1>Your Cart</h1>
<% if (items.length > 0) { %>
<ul>
  <% items.forEach(function(cartItem) { %>
  <li>
    <p><%= cartItem.item.name %> - Price: <%= cartItem.item.Price %></p>

    <div>
      <p>Quantity: <%= cartItem.qty %></p>
    </div>

    <form action="/cart/increase" method="POST" style="display: inline">
      <input type="text" name="id" value="<%= cartItem.item._id %>" />
      <button type="submit">plus</button>
    </form>

    <form action="/cart/decrease" method="POST" style="display: inline">
      <input type="text" name="id" value="<%= cartItem.item._id %>" />
      <button type="submit">minus</button>
    </form>

    <a href="/cart/delete?id=<%= cartItem.item._id %>">Remove</a>
  </li>

  <% }); %> <% const newItem = items.map(cartItem => cartItem.item.Price *
  cartItem.qty); const totalItem = newItem.reduce((accumulator, value) =>
  accumulator + value, 0); %>
  <h3>Total: <%= totalItem %></h3>

  <a href="/checkout/index"><button>Checkout</button></a>
</ul>
<% } else { %>
<p><%= message %></p>
<% } %>
