<h1>Items</h1>

<% categories.forEach(function(category){ %>
    <div>
    <h3><%= category.name %></h3>
    
    
    <% if (category.items && category.items.length > 0) { %>
        <h4>Items in this category:</h4>
        <ul>
        <% category.items.forEach(function(item){ %>
            <li>
            <p><%= item.name %> - Price: <%= item.price %> USD - Quantity: <%= item.qty %></p>
            <a href="/item/edit?id=<%= item._id %>">Edit</a> | 
            <a href="/item/delete?id=<%= item._id %>">Delete</a> |
            <a href="/cart/add?itemId=<%= item._id %>">Add to Cart</a>
            </li>
        <% }) %>
        </ul>
    <% } else { %>
        <p>No items in <%= category.name %> yet.</p>
    <% } %>
        <a href="/item/add?categoryId=<%= category._id %>">Add Item to <%= category.name %></a>
    </div>

    <hr>
<% }) %>